<div class="quest-box d-flex justify-content-between">
  <span><%= quest.description %></span>
  <div class="quest-desc-box <%= 'completed' if quest.completed? %>">
    <% if quest.completed? %>
      <%= button_to "Completed", "#", disabled: true, class: "link-button text-completed", data: { complete_target: "button" } %>
    <% else %>
      <%= link_to "Complete", complete_quest_path(quest),
                                class: "link-button text-active",
                                data: { complete_target: "button",
                                action: "click->complete#markCompleted",
                                turbo_method: :patch } 
                          %>
    <% end %>
  </div>
</div>
