<div class="quest-box d-flex justify-content-between">
  <span><%= quest.description %></span>
  <div class="quest-desc-box <%= 'accepted' if quest.accepted? %>">
    <% if quest.accepted? %>
      <%= button_to "Accepted", "#", disabled: true, class: "link-button text-completed", data: { accept_target: "button" } %>
    <% else %>
      <%= link_to "Accept", accept_quest_path(quest),
          class: "link-button text-active",
          data: { accept_target: "button",
          action: "click->accept#markAccepted",
          turbo_method: :patch }
      %>
    <% end %>
  </div>
</div>
