.guild-board {
  background-image: image-url('guild_message_board2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

// .guild-board {
//   max-height: 0;
//   overflow: hidden;
//   opacity: 0;
//   transform: translateY(-50px);
//   transition: max-height 1s ease-out, opacity 1s ease-out, transform 1s ease-out;
// }

// .guild-board.show {
//   max-height: 2000px;
//   opacity: 1;
//   transform: translateY(0);
// }
