<div class="homepage">
  <div class="logo-container">
    <div class="homepage-text">
      <% if current_user.present? %>
        <%= link_to "Continue", dashboard_quests_path, class: "nav-link" %>
      <% else %>
        <%= link_to "Begin your Journey", new_user_registration_path, class: "nav-link" %>
      <% end %>

      <%= image_tag "SoulBoundlogo.png", alt: "Logo", class: "logo wave" %>
    </div>
  </div>
</div>
