<div class="homepage">
  <div class="logo-container">
    <div class="homepage-text">
      <% if current_user.present? %>
        <%= link_to "Continue", current_user.quests.present? ? dashboard_quests_path : new_journey_path, class: "nav-link wave" %>
      <% else %>
        <%= link_to "Begin your Journey", new_user_registration_path, class: "nav-link wave" %>
      <% end %>
    </div>

    <%= image_tag "SoulBoundlogo.png", alt: "Logo", class: "logo wave" %>
  </div>
</div>
